name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Format
      run: cargo fmt
    - name: Build
      run: cargo build
    - name: Run tests
      run: cargo test
    - name: Build [serde]
      run: cargo build --features serde
    - name: Run tests [serde]
      run: cargo test --features serde

